@model VidPlace.Models.Media
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Media Type: @Model.MediaType.Name</li>
    <li>Release Date: @Model.ReleasedDate.Value.ToShortDateString()</li>
    <li>Date Added: @Model.DateAdded.ToShortDateString()</li>
    <li>Number is Stock: @Model.NumberInStock</li>
</ul>

<br />
@Html.ActionLink("Back to List", "Index", "Medias")

