@model SurveyOnline.ViewModels.SurveyFromModelView
@{
    ViewBag.Title = "SurveyForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SurveyForm</h2>

@using (Html.BeginForm("Save", "Survey"))
{

    <a href="~/Survey/List">List of available surveys</a>
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(s => s.Survey.Title)
        @Html.TextBoxFor(s => s.Survey.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Survey.Title)

    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Survey.SurveyQuestion)
        @Html.TextBoxFor(s => s.Survey.SurveyQuestion, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Survey.SurveyQuestion)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Survey.Autohor)
        @Html.TextBoxFor(s => s.Survey.Autohor, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Survey.Autohor)
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Survey.Deadline)
        @Html.TextBoxFor(s => s.Survey.Deadline, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Survey.Deadline)
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Survey.Topic)
        @Html.DropDownListFor(s => s.Survey.Topic,
        new SelectList(Model.Topics, "ID", "Name"),
        "Select Topic Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Survey.Topic)
    </div>

   
    @Html.HiddenFor(s => s.Survey.ID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button><br>

    <a href="~/Survey/New"> << Back </a>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}